@import '../variables.scss';

.artistAlbumsBlock {
  display: flex;
  .block {
    margin: 1vw;
  }
  .header {
    width: 100%;
  }
  .artistAlbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70vw;
    overflow-y: auto;
    .album {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $lightestColor;
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      height: fit-content;
      margin: 0.7vw;
      text-decoration: none;
      transition: color 0.2s ease-out, transform 0.2s ease-out;
      &:hover {
        background-color: $normalColor;
        transform: scale(1.05);
      }
      .albumReleaseDate {
        color: $lightestColor;
        font-weight: bold;
        background-color: $normalColor;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        padding: 0 0.5rem;
      }
      img {
        width: 15vw;
        height: 15vw;
        border-radius: $borderRadius + 1.2rem;
        overflow: hidden;
        padding: 1vw;
        object-fit: cover;
      }
      .albumName {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: $lightestColor;
        font-style: italic;
        background-color: $normalColor;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        padding: 0 1rem;
        max-width: 13vw;
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .artistAlbumsBlock {
    display: flex;
    .block {
      margin: 1vw;
    }
    .header {
      width: 100%;
    }
    .artistAlbums {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 70vw;
      overflow-y: auto;
      .album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lightestColor;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
        height: fit-content;
        margin: 0.7vw;
        text-decoration: none;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        &:hover {
          background-color: $normalColor;
          transform: scale(1.05);
        }
        .albumReleaseDate {
          color: $lightestColor;
          font-weight: bold;
          background-color: $normalColor;
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
          padding: 0 0.5rem;
          font-size: 0.9rem;
        }
        img {
          width: 13.5vw;
          height: 13.5vw;
          border-radius: $borderRadius + 1.2rem;
          overflow: hidden;
          padding: 1vw;
          object-fit: cover;
        }
        .albumName {
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          color: $lightestColor;
          font-style: italic;
          background-color: $normalColor;
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          padding: 0 1rem;
          max-width: 13vw;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .artistAlbumsBlock {
    display: flex;
    .block {
      margin: 1vw;
    }
    .header {
      width: 100%;
    }
    .artistAlbums {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 90vw;
      overflow-y: auto;
      margin-bottom: 30vh;
      .album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lightestColor;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
        height: fit-content;
        margin: 0.7vw;
        text-decoration: none;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        width: 70vw;
        &:hover {
          background-color: $normalColor;
          transform: scale(1.05);
        }
        .albumReleaseDate {
          color: $lightestColor;
          font-weight: bold;
          background-color: $normalColor;
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
          padding: 0 0.5rem;
          font-size: 0.9rem;
        }
        img {
          width: 70vw;
          height: 70vw;
          border-radius: $borderRadius + 1.2rem;
          overflow: hidden;
          padding: 5vw;
          object-fit: cover;
        }
        .albumName {
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          color: $lightestColor;
          font-style: italic;
          background-color: $normalColor;
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          padding: 0 1rem;
          max-width: 55vw;
        }
      }
    }
  }
}
